.section--pricing {
  flex-grow: 1;
  padding-bottom: 100px;
}

.section--pricing .section__content {
  padding: 0 20px;
}

.pricing-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
}

.pricing-grid__item {
  flex: 1 1 0;
  min-width: 300px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--md-default-bg-color);
  box-shadow: 0 12px 50px -12px rgba(0, 0, 0, 0.25);
  height: 100%;
}

.pricing-card__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing-card__footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.pricing-card__name {
  font-size: 32px;
  font-weight: 300;
}

.pricing-card__price {
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.pricing-card__price span {
  font-size: 16px;
}

.pricing-card__description {
  font-size: 17px;
}

.pricing-card__features {
  padding-left: 20px;
}

.pricing-card__feature {
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
}

.pricing-card__feature::marker {
  content: "";
}

.pricing-card__feature-marker {
  display: inline-block;
  width: 20px;
}

.pricing-card__feature-marker svg {
  fill: var(--md-primary-fg-color);
}

.button {
  background-color: hsl(212deg 84% 65%);
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
}

.button:hover {
  background-position: 100px;
}

.h1 {
  font-size: 38px;
}

.page-description {
  font-size: 20px;
  margin-bottom: 50px;
}

@media screen and (min-width: 76.25em) {
  /*hide mobile nav on desktop size*/
  .md-main {
    display: none;
  }
}

.table-wrapper {
  overflow-x: auto;
  margin: 100px 0;
  box-shadow: 0 12px 50px -12px rgba(0, 0, 0, 0.25);
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

.table td,
.table th {
  padding: 30px;
  text-align: left;
}

.table th {
  font-weight: bold;
  font-size: 20px;
}

.table td {
  font-size: 16px;
}

.table--services th:first-child,
.table--services td:first-child {
  border-left: none;
}

.table--services th:last-child,
.table--services td:last-child {
  width: 320px;
  max-width: 320px;
  border-right: none;
}

.table--services th:nth-child(2),
.table--services td:nth-child(2) {
  min-width: 500px;
  width: 500px;
}

.table--services td:last-child {
  text-align: center;
}

.table--services .table__cell-label {
  font-weight: bold;
  font-size: 16px;
}

.table--services th,
.table--services td {
  border: 1px solid #efefef;
}

.definition {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5em;
}
