.sectionWrapper {
  padding: 2.5rem 0;
}

.sectionTitle {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.sectionDescription {
  font-size: 0.875rem;
  margin-bottom: 2.5rem;
}

.pricingGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.pricingGridItem {
  flex: 1 1 0;
  min-width: 18.75rem;
}
